<h1>Listing studyplans</h1>

<table>
  <tr>
  </tr>
  
<% for studyplan in @studyplans %>
  <tr>
    <td><%= link_to 'Show', studyplan_path(studyplan) %></td>
    <td><%= link_to 'Edit', edit_studyplan_path(studyplan) %></td>
    <td><%= link_to 'Destroy', studyplan_path(studyplan), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New studyplan', new_studyplan_path %>