<h1>New studyplan</h1>

<%= error_messages_for :studyplan %>

<% form_for(:studyplan, :url => studyplans_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', studyplans_path %>